<br><br>

<style>
form { margin-left:35%;  }
body {text-align: left; margin-left:15%;}
</style>

<h1> Enter your selected 6 digit lottery number: </h1>
<br>
<h2>
<form method="post" action="/number_selection">
 
<h1>
<input type="integer" name="my_number1"> 1st number <br>
<input type="integer" name="my_number2"> 2nd number <br>
<input type="integer" name="my_number3"> 3rd number <br>
<input type="integer" name="my_number4"> 4th number <br>
<input type="integer" name="my_number5"> 5th number <br>
<input type="integer" name="my_number6"> 6th number <br>
  <input type="submit" value="Submit"></h1>

 </form> 